* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5em;
  font-family: 'Lato', Tahoma, sans-serif;
  font-size: 15px;
  background: #fff;
}
.about-wrapper {
  width: 95%;
  min-width: 1024px;
  max-width: 1162px;
  margin: 0 auto;
}
.about {
  padding-top: 2%;
  background-image: url(../img/service.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
.about__title {
  font-family: 'Montseratt', Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  letter-spacing: 4px;
}
.about__text {
  width: 657px;
  margin: 0 auto;
  text-align: left;
}
.about__text p {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 25px;
  color: #6f6f6f;
}
.about__list {
  width: 810px;
  margin: 40px auto;
  text-align: center;
}
.about__items {
  font-size: 0;
  text-align: right;
}
.about__item {
  font-family: 'Montseratt', Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 60px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  margin-right: 70px;
}
.about__item:last-child {
  margin-right: 0;
}
.about__item::before {
  display: inline-block;
  width: 69px;
  height: 69px;
  padding-left: 20px;
  content: '';
  vertical-align: top;
  background-image: url(../img/sprite_icons.png);
  background-repeat: no-repeat;
}
.about__item--design::before {
  background-position: -60px -1498px;
}
.about__item--photos::before {
  background-position: -60px -1309px;
}
.about__item--concept::before {
  background-position: -60px -205px;
}
.about__link {
  margin-top: 10%;
  margin-bottom: 5%;
}
.about__btn {
  font-family: 'Montserrat', Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  position: relative;
  display: block;
  overflow: hidden;
  width: 215px;
  margin: 0 auto;
  padding: 15px;
  transition: ease-out 0.3s 0.1s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.about__btn span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  transition: .1s;
  transform: translateX(-100%);
  background: #eeb013;
}
.about__btn span::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  content: '';
  transition: .1s .2s;
  transform: translateX(100%);
  background: #eeb013;
}
.about__btn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  content: '';
  transition: .1s .3s;
  transform: translateY(100%);
  background: #eeb013;
}
.about__btn::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  content: '';
  transition: .1s .1s;
  transform: translateY(-100%);
  background: #eeb013;
}
.about__btn:hover {
  border: 1px solid transparent;
}
.about__btn:hover::before,
.about__btn:hover::after {
  transform: translateX(0);
}
.about__btn:hover span::after,
.about__btn:hover span::before {
  transform: translateX(0);
}
.header-wrapper {
  width: 95%;
  min-width: 1024px;
  max-width: 1162px;
  margin: 0 auto;
}
.header {
  background-color: #5c5b57;
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  height: 100vh;
  min-height: 750px;
}
.header::after {
  display: table;
  clear: both;
  content: '';
}
.header__line {
  padding: 100px 0;
}
.header__line::after {
  display: table;
  clear: both;
  content: '';
}
.header__logo {
  float: left;
  width: 20%;
  text-align: left;
}
.header__slogan {
  font-weight: 900;
  clear: both;
  margin: 0 auto;
  padding: 15% 0;
  text-align: center;
  color: #fffefe;
}
.header__slogan-title {
  font-size: 72px;
  line-height: 80px;
  padding: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.header__slogan-text {
  font-size: 20px;
  line-height: 25px;
  padding: 0;
  margin-bottom: 40px;
  font-weight: 400;
}
.header__slogan-sign {
  display: block;
  font-family: 'Montserrat', Tahoma, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fffefe;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #535356;
  width: 215px;
  position: relative;
  overflow: hidden;
  transition: ease-out 0.3s 0.1s;
}
.header__slogan-sign span::before {
  width: 100%;
  height: 2px;
  background: #eeb013;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.1s;
  transform: translateX(-100%);
}
.header__slogan-sign span::after {
  width: 100%;
  height: 2px;
  background: #eeb013;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.1s 0.2s;
  transform: translateX(100%);
}
.header__slogan-sign::before {
  width: 2px;
  height: 100%;
  background: #eeb013;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: 0.1s 0.3s;
}
.header__slogan-sign::after {
  width: 2px;
  height: 100%;
  background: #eeb013;
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0;
  transform: translateY(-100%);
  transition: 0.1s 0.1s;
}
.header__slogan-sign:hover {
  color: #eeb013;
}
.header__slogan-sign:hover::before,
.header__slogan-sign:hover::after {
  transform: translateX(0);
}
.header__slogan-sign:hover span::after,
.header__slogan-sign:hover span::before {
  transform: translateX(0);
}
.main-nav {
  width: 80%;
  float: right;
  text-align: right;
}
.main-nav__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-right: 30px;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__items {
  margin-top: 20px;
}
.main-nav__link {
  font-size: 18px;
  line-height: 20px;
  color: #fffefe;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  position: relative;
  transition: color 0.3s;
}
.main-nav__link::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #eeb013;
  content: '';
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-10px);
}
.main-nav__link:hover,
.main-nav__link:focus {
  color: #eeb013;
}
.main-nav__link:hover::after,
.main-nav__link:focus::after {
  height: 4px;
  opacity: 1;
  transform: translateY(10px);
}
.portfolio__wrapper {
  width: 95%;
  min-width: 1024px;
  max-width: 1162px;
  margin: 0 auto;
}
.portfolio {
  background-color: rgba(255, 255, 255, 0.3);
}
.portfolio__filter {
  text-align: center;
  padding: 3% 0;
}
.portfolio__title {
  font-family: 'Montseratt', Tahoma, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
.portfolio__title--sideline::after {
  content: '';
  display: block;
  width: 224px;
  height: 21px;
  background-image: url(../img/sprite_icons.png);
  background-position: -60px -1687px;
  margin: 30px auto;
}
.portfolio__subtitle {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}
.portfolio__filter-list {
  text-align: center;
  font-size: 0;
  margin: 40px auto 10px;
}
.portfolio__filter-item {
  display: inline-block;
  text-align: center;
  margin-right: 25px;
}
.portfolio__filter-item:last-child {
  margin-right: 0;
}
.portfolio__filter-link {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  overflow: hidden;
  position: relative;
  transition: ease-out 0.3s 0.1s;
  padding: 10px;
  width: 170px;
  border: 1px solid #ffffff;
}
.portfolio__filter-link--plus {
  width: 40px;
}
.portfolio__filter-link span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  transition: .1s;
  transform: translateX(-100%);
  background: #eeb013;
}
.portfolio__filter-link span::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  content: '';
  transition: .1s .2s;
  transform: translateX(100%);
  background: #eeb013;
}
.portfolio__filter-link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  content: '';
  transition: .1s .3s;
  transform: translateY(100%);
  background: #eeb013;
}
.portfolio__filter-link::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  content: '';
  transition: .1s .1s;
  transform: translateY(-100%);
  background: #eeb013;
}
.portfolio__filter-link:hover {
  border: 1px solid transparent;
}
.portfolio__filter-link:hover::before,
.portfolio__filter-link:hover::after {
  transform: translateX(0);
}
.portfolio__filter-link:hover span::after,
.portfolio__filter-link:hover span::before {
  transform: translateX(0);
}
.portfolio__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__item {
  width: 24%;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
